nav{

    width:100%;
    background:rgba(70,0,0,.96);
    backdrop-filter:blur(10px);

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 60px;

    position:sticky;
    top:0;
    z-index:999;

    box-shadow:0 5px 20px rgba(0,0,0,.25);

}

.logo{

    display:flex;
    align-items:center;
    gap:12px;

}

.logo h2{

    color:white;
    font-size:28px;

}

.logo span{

    font-size:34px;

}

nav ul{

    display:flex;
    gap:28px;

}

nav a{

    color:white;
    font-weight:500;
    position:relative;
    transition:.3s;

}

nav a::after{

    content:"";
    position:absolute;
    left:0;
    bottom:-5px;

    width:0%;
    height:3px;

    background:#ffb3b3;

    transition:.3s;

}

nav a:hover{

    color:#ffd5d5;

}

nav a:hover::after{

    width:100%;

}

@media(max-width:900px){

    nav{

        flex-direction:column;
        gap:20px;
        padding:20px;

    }

    nav ul{

        flex-wrap:wrap;
        justify-content:center;
        gap:18px;

    }

}